{{define "root-style"}}
{{end}} {{define "root-body"}}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">Home</a>
        </li>
        <li class="active">ims data inspection detail</li>
    </ul>
    <!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" id="searchGoogle" placeholder="Google Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div>
    <!-- /.nav-search -->
</div>

<div class="page-content">
    <div class="page-header">
        <h1>
            Data Inspection  Detail
        </h1>
    </div>
    <!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" id="formII" method="POST" enctype="multipart/form-data" role="form">
                <div class="row">
                    <div class="col-sm-10">

                        <div class="form-group">
                            <label for="inputCustomer" class="col-sm-3 control-label">Customer :</label>
                            <div class="col-sm-9">
                                <label class="form-control-static">{{.detail.MasterII.CustomerMaterII.Name}}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPartNo" class="col-sm-3 control-label">Part No. :</label>
                            <div class="col-sm-9">
                                <label class="form-control-static">{{.detail.MasterII.PartNumber}}</label>                                    
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPartName" class="col-sm-3 control-label">Part Name. :</label>
                            <div class="col-sm-9">
                                <label class="form-control-static">{{.detail.MasterII.PartName}}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputRevision" class="col-sm-3 control-label">Revision :</label>
                            <div class="col-sm-9">
                                <label class="form-control-static">{{.detail.MasterII.Revision}}</label>
                            </div>
                        </div>

                        {{ $drawing := .detail.MasterII.Drawing }}
                        {{if ne $drawing.ID 0}} 
                        <div class="form-group">
                            <label for="id-input-file-1" class="col-sm-3 control-label">Drawing :</label>
                            <div class="col-sm-9">
                                <div class="alert alert-success" role="alert">
                                    <a href="/file?file={{$drawing.ID}}" target="_blank" class="alert-link">{{$drawing.FileName}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        {{end}}

                        {{ $inspection := .detail.MasterII.Inspection }}
                        {{if ne $inspection.ID 0}} 
                        <div class="form-group">
                            <label for="id-input-file-1" class="col-sm-3 control-label">Inspection :</label>
                            <div class="col-sm-9">
                                <div class="alert alert-success" role="alert">
                                    <a href="/file?file={{$inspection.ID}}" target="_blank" class="alert-link">{{$inspection.FileName}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        {{end}}

                        {{ $file3 := .detail.MasterII.File3 }}
                        {{if ne $file3.ID 0}} 
                        <div class="form-group">
                            <label for="id-input-file-1" class="col-sm-3 control-label">{{.detail.MasterII.TextFile3}} :</label>
                            <div class="col-sm-9">
                                <div class="alert alert-success" role="alert">
                                    <a href="/file?file={{$file3.ID}}" target="_blank" class="alert-link">{{$file3.FileName}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        {{end}}

                        {{ $file4 := .detail.MasterII.File4 }}
                        {{if ne $file4.ID 0}} 
                        <div class="form-group">
                            <label for="id-input-file-1" class="col-sm-3 control-label">{{.detail.MasterII.TextFile4}} :</label>
                            <div class="col-sm-9">
                                <div class="alert alert-success" role="alert">
                                    <a href="/file?file={{$file4.ID}}" target="_blank" class="alert-link">{{$file4.FileName}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        {{end}}

                        {{ $file5 := .detail.MasterII.File5 }}
                        {{if ne $file5.ID 0}} 
                        <div class="form-group">
                            <label for="id-input-file-1" class="col-sm-3 control-label">{{.detail.MasterII.TextFile5}} :</label>
                            <div class="col-sm-9">
                                <div class="alert alert-success" role="alert">
                                    <a href="/file?file={{$file5.ID}}" target="_blank" class="alert-link">{{$file5.FileName}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        {{end}}

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Work Order :</label>
                            <div class="col-sm-9">
                                <label class="form-control-static">{{.detail.WorkOrder}}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Type :</label>
                            <div class="col-sm-9">
                                <label class="form-control-static">{{.detail.TypeInspection}}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Qty Inspection :</label>
                            <div class="col-sm-9">
                                <label class="form-control-static">{{.detail.QtyInspection}} pcs</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="id-input-file-1" class="col-sm-3 control-label">Inspection Data :</label>
                            <div class="col-sm-9">
                                <div class="alert alert-success" role="alert">
                                    <a href="/file?file={{.detail.FileInspectionData.ID}}" target="_blank" class="alert-link">{{.detail.FileInspectionData.FileName}} <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>

                        {{ $length := len .detail.Remark }}
                        {{ if ne $length 0 }}
                        <div class="form-group">
                            <label for="id-remark" class="col-sm-3 control-label">Remark :</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="4" name="id-remark" id="id-remark" disabled>{{.detail.Remark}}</textarea>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="panel-body table-responsive">
                <table id="simple-table" class="table  table-bordered table-hover">
                    <caption>History</caption>
                    <thead>
                    <tr>
                        <th>Update Date</th>
                        <th>Status</th>
                        <th>Remark</th>
                        <th>Update By</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{ range $value := .detail.HistoryIN }}
                        <tr>
                            <td>{{$value.CreateDate}}</td>
                            <td>
                                {{if eq $value.Status "UPLOAD_INSPECTION_DATA"}}
                                <span class="label label-info">upload</span>
                                {{end}}
                                {{if eq $value.Status "CHECKED_UPLOAD_FILE"}}
                                <span class="label label-success">checked</span>
                                {{end}}
                            </td>
                            <td>{{$value.Remark}}</td>
                            <td>{{$value.CreateBy.Name}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{end}}{{define "root-script"}}
<script>
    $(document).ready(function() {
        $("#searchGoogle").keypress(function(e) {
            if (e.which == 13) {
                window.open('http://www.google.com/search?q=' + $("#searchGoogle").val(), '_blank');
                return false;
            }
        });
    });
</script>
{{end}}